.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #007bff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: yellow;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.navigation-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.navigation-menu ul {
    display: flex;
    padding: 0;
    height: 50%;
    margin: auto;
}

.navigation-menu li {
    /* removes disc bullet from li tags*/
    list-style-type: none;
    /* applies margin to left and right side */
    margin: 0 1rem;
}

.navigation-menu li a {
    /* increase the surface area of the anchor to span more than just the anchor text */
    /* text-decoration: none; */
    display: block;
    width: 100%;
    color: white;
}

.hamburger {
    /* removes default border on button element */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5em;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

@media screen and (max-width: 1000px) {

    /* Rules go here */
    .hamburger {
        display: block;
    }



    .navigation-menu ul {
        /* navigation menu is positioned to start 60px from top of the document (which is directly below the navbar) */
        position: absolute;
        top: 60px;
        right: 0;
        /* stacks the li tags vertically */
        flex-direction: column;
        /* makes menu span full height and width stablewidth: 100% */
        height: auto;
        /* calc (100vh - 77px); */
        background-color: white;
        border: 1px solid black;
        display: none;
    }


    .navigation-menu.expanded ul {
        display: block;
    }

    .navigation-menu.expanded li a {
        color: #007bff;
    }

    .navigation-menu li {
        /* centers link text and strips off margin */
        text-align: center;
        margin: 0;
    }
}

.navigation-menu li a:hover {
    border-radius: 10px;
    background-color: #eee;
    padding-left: 2px;
    padding-right: 2px;

    ;
}

.navigation-menu li a:hover {
    color: #007bff;
}

/* credit from https://blog.logrocket.com/create-responsive-navbar-react-css/ */